@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Applying MDX style */
p {
  @apply mb-4;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold
    mb-1;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-xl;
}

/* Apply theme */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Apply scrollbar hiding */

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  ::-moz-selection {
    background: #AFAFAF;
  }
  ::-webkit-selection {
    background: #AFAFAF;
  }
  ::selection {
    background: #AFAFAF;
  }
}